body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-13xl: 32px;
    --font-size-7xl: 26px;
    --font-size-lgi: 19px;
    --font-size-xs: 12px;
  
    /* Colors */
    --color-white: #fff;
    --color-lightskyblue: #a7b9f6;
    --color-mediumpurple: #868bff;
  
    /* Gaps */
    --gap-xl: 20px;
    --gap-42xl: 61px;
    --gap-11xl: 30px;
    --gap-mini: 15px;
    --gap-23xl: 42px;
    --gap-2xl: 21px;
  
    /* Paddings */
    --padding-smi: 13px;
    --padding-16xl: 35px;
  }